{% extends 'base_central_de_ajuda.html' %}
{% load static %}
{% block content %}

      <!-- Hero Area Start -->
      {% include 'hero_ajuda.html' %}
      <!-- Hero Area End -->

    <!-- Services Section Start -->
       {% include 'faqs.html' %}
    <!-- Services Section End -->

    <!-- Services Section Start -->
       {% include 'suporte.html' %}
    <!-- Services Section End -->

    <!-- About Section start -->
    <!-- About Section End -->

    <!-- Features Section Start -->
    <!-- Features Section End -->

    <!-- Team Section Start -->
    <!-- Team Section End -->

    <!-- Pricing section Start -->
    <!-- Pricing Table Section End -->

    <!-- Testimonial Section Start -->
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
        {% include 'footer.html' %}
    <!-- Footer Section End -->
    {% endblock %}