{% load static %}

<div id="content">

</div>
<div class="about-area section-padding bg-white">
    <div class="container">
            <section id="faqconteudo" class="section-padding bg-white">
                <h1>Perguntas Frequentes (FAQs)</h1><p>
            </section>
    </div>

    <div class="container">
            <section id="acesso" class="section-padding bg-white">
                <div class="container">
                    <h2><b>Acesso ao Sistema</b></h2>
                    <div class="container py-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">P. Como faço para ter acesso ao sistema AcPro?</li>
                            <li class="list-group-item list-group-item-primary">R. Entre em contato com o Suporte e solicite um login para demonstração do sistema.</li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item">P. Já tenho login. Como usar o sistema?</li>
                            <li class="list-group-item list-group-item-primary">R. Faça o download do Manual do sistema AcPro disponível em: .</li>

                        </ul>
                    </div>
                </div>
            </section>
            <section id="precos">
                <div class="container py-5">
                    <h2><b>Preços</b></h2>
                    <div class="container py-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">P. Quais são os planos de utilização do sistema AcPro?</li>
                            <li class="list-group-item list-group-item-primary">R. Por enquanto ainda não disponibilizamos
                                planos pagos para o sistema AcPro mas você pode acessar o sistema em demonstração.
                                Solicite login de teste, baixe o manual do sistema e comece a utilizar para conhecer as funcionalidades </li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item">P. O sistema AcPro tem versão de demonstração gratuita?</li>
                            <li class="list-group-item list-group-item-primary">R. Sim. Entre em contato com o Suporte e solicite um login para demonstração do sistema.</li>

                        </ul>
                    </div>
                </div>
            </section>
            <section id="funcionalidades">
                <div class="container py-5">
                    <h2><b>Funcionalidades</b></h2>
                    <div class="container py-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">P. Quais são as principais funcionalidades do sistema?</li>
                            <li class="list-group-item list-group-item-primary">R. O sistema AcPro permite o acompanhamento
                                de processos que envolvam locações, aquisição e manutenção de equipamentos e serviços.</li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item">P. O sistema está disponível em dispositivos móveis?</li>
                            <li class="list-group-item list-group-item-primary">R. O sistema por enquanto não disponível
                                na forma de apps em dispositivos móveis porém é possível utilizar o sistema em navegadores mobile.</li>

                        </ul>
                    </div>
                </div>
            </section>
            </section>
            <section id="suporte">
                <div class="container py-5">
                    <h2><b>Suporte</b></h2>
                    <div class="container py-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">P. Quais são os canais de suporte disponíveis?</li>
                            <li class="list-group-item list-group-item-primary">R. Temos suporte telefônico através de serviço de
                                0800 (0800 555 9999) ou através de email pi2.univesp2022@gmail.com direto com o canal de desenvolvedores.</li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item">P. Como faço para acionar o atendimento de suporte?</li>
                            <li class="list-group-item list-group-item-primary">R. Primeiramente recomendamos a leitura do
                                manual do sistema antes do acionamento do suporte e caso não haja solução acione o suporte pelos canais ofertados.</li>

                        </ul>
                    </div>
                </div>
            </section>

    </div>
</div>

