{% load static %}

<div id="content">

</div>
<div class="about-area section-padding bg-white">
    <div class="container">
        <section id="ajudaconteudo" class="section-padding bg-white">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Manual do Sistema</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
        </section>
    </div>

    <div class="container">
            <section id="acesso" class="bg-white">
                <div class="section-header text-left">
                    <h2 class="section-title"><b>Acesso ao Sistema</b></h2>
                </div>
                <div style="padding: 60px 30px 30px 60px; font-size: 20px">
                    <b>Criação de login</b>
                </div>
                <div style="padding: 30px 30px 30px 60px; font-size: 20px">
                     <b>Formas de login no sistema</b>
                </div>
                </div>
            </section>
    </div>
    <div class="container">
            <section id="processos" class="bg-white">
                <div class="section-header text-left">
                    <h2><b>Processos</b></h2>
                </div>
                <div style="padding: 60px 30px 30px 60px; font-size: 20px">
                            <b>Locações</b>
                </div>
                <div style="padding: 30px 30px 30px 60px; font-size: 20px">
                            <b>Aquisições</b>
                </div>
                <div style="padding: 30px 0px 30px 60px; font-size: 20px">
                            <b>Manutenções</b>
                </div>
            </section>
    </div>
    <div class="container">
            <section id="cadastros" class="section-padding bg-white">
                <div class="container py-5">
                    <h2><b>Cadastros</b></h2>
                    <div class="container py-3">

                    </div>
                </div>
            </section>
    </div>
    <div class="container">
            <section id="apis" class="section-padding bg-white">
                <div class="container py-5">
                    <h2><b>API</b></h2>
                    <div class="container py-3">

                    </div>
                </div>
            </section>
    </div>
    <div class="container">
            <section id="paineladm" class="section-padding bg-white">
                <div class="container py-5">
                    <h2><b>Painel-Adm</b></h2>
                    <div class="container py-3">

                    </div>
                </div>
            </section>
    </div>



</div>

