{% load static %}

    <section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Conheça a nossa equipe</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/team/team-01.png' %}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">Fernando Asashi Nitatori</a></h3>
                  <p class="acessibilidade">Desenvolvedor Full Stack </p>
                </div>
                <p class="acessibilidade">Trabalha com o frontend e backend das aplicações.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/team/team-02.png' %}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">Jefferson de Marchi Paes</a></h3>
                  <p class="acessibilidade">Analista de Banco de Dados</p>
                </div>
                <p class="acessibilidade">Responsável pela modelagem de banco de dados.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
             <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
                <div class="team-img">
                  <img class="img-fluid" src="{% static 'img/team/team_99_vazio.png' %}" alt="">
                </div>
               <div class="contetn">
                <div class="info-text">
                  <h3><a href="#"> Liliana Mie Horiuchi Gayard </a></h3>
                  <p class="acessibilidade">Front-end designer</p>
                </div>
                <p class="acessibilidade"> Responsável pelos testes automatizados.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/team/team_99_vazio.png' %}" alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">Carlos Eduardo de Freitas Garcia </a></h3>
                  <p class="acessibilidade">Desenvolvedor backend</p>
                </div>
                <p class="acessibilidade"> Responsável pelas APIs do sistema.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
             <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
                <div class="team-img">
                  <img class="img-fluid" src="{% static 'img/team/team_99_vazio.png' %}" alt="">
                </div>
               <div class="contetn">
                <div class="info-text">
                  <h3><a href="#"> KÉVILY TASHI PEDROSO SABINO ISOO </a></h3>
                  <p class="acessibilidade">Técnica DevOps </p>
                </div>
                <p class="acessibilidade"> Responsável pela infraestrutura em nuvem.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
             <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
                <div class="team-img">
                  <img class="img-fluid" src="{% static 'img/team/team_99_vazio.png' %}" alt="">
                </div>
               <div class="contetn">
                <div class="info-text">
                  <h3><a href="#"> GIVAN AMORIM DE LIMA</a></h3>
                  <p class="acessibilidade">Desenvolvedor frontend</p>
                </div>
                <p class="acessibilidade"> Responsável pelo frontend do sistema.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
             <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
                <div class="team-img">
                  <img class="img-fluid" src="{% static 'img/team/team_99_vazio.png' %}" alt="">
                </div>
               <div class="contetn">
                <div class="info-text">
                  <h3><a href="#"> JOÃO PAULO SOARES </a></h3>
                  <p class="acessibilidade">Front-end tester</p>
                </div>
                <p class="acessibilidade"> Responsável pelos testes de frontend.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

        </div>
      </div>
    </section>
