{% load static %}

    <section id="faqs" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Perguntas Frequentes (FAQs)</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            </li><div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content">
                <h3><a href="{% url 'faqs'%}#acesso">Acesso ao Sistema</a></h3>
                <ul>
                    <li><p>Como faço para ter acesso ao sistema AcPro?</p>
                </uL>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-stats-up"></i>
              </div>
              <div class="services-content">
                <h3><a href="{% url 'faqs'%}#precos">Preços</a></h3>
                <p> Quais são os planos de utilização do sistema AcPro? </p>
                <p> O sistema AcPro tem versão de demonstração gratuita?</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="lni-users"></i>
              </div>
              <div class="services-content">
                <h3><a href="{% url 'faqs'%}#funcionalidades">Funcionalidades</a></h3>
                <p>Quais são as principais funcionalidades do sistema? </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lni-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="{% url 'faqs'%}#suporte">Suporte</a></h3>
                <p>Quais são os canais de suporte disponíveis?</p>
                <p>Como faço para acionar o atendimento de suporte?</p>
              </div>
            </div>
          </div>

          <!-- Services item -->
          <!--
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="lni-mobile"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">App Development</a></h3>
                <p>Ut maximus enim dolor. Aenean auctor risus eget tincidunt lobortis. Donec tincidunt bibendum gravida. </p>
              </div>
            </div>
          </div>
          -->
          <!-- Services item -->
          <!--
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="lni-rocket"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">User Friendly interface</a></h3>
                <p>Ut maximus enim dolor. Aenean auctor risus eget tincidunt lobortis. Donec tincidunt bibendum gravida. </p>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </section>
