{% load static %}

    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <!-- <h3 class="footer-logo"><img src="{% static 'img/logo_sesc.png' %}" alt=""></h3>-->
                <h2 > AcPro &reg; </h2>
                <div class="textwidget">
                  <p></p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <!--
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Projetos</h3>
              <ul class="footer-link">
                <li><a href="#">Tracking</a></li>
                <li><a href="#">Application</a></li>
                <li><a href="#">Resource Planning</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Employee Management</a></li>
              </ul>
            </div>
            -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"><a href="{% url 'centralajuda' %}">Central de Ajuda</a></h3>
              <ul class="footer-link">
                <li><a href="{% url 'centralajuda' %}#faqs">FAQs</a></li>
                <li><a href="#">Manual do Sistema</a></li>
                <li><a href="#">Suporte</a></li>
                <!--
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Identity Verification</a></li>
                <li><a href="#">Card Verification</a></li>
                -->
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">

                <li>
                  <a href="#"><i class="lni-envelope"></i> E: pi2.univesp2022@gmail.com</a>
                </li>
              </ul>
            </div>

            <!--
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Créditos</h3>
              <ul class="address">


                <li>
                  <a href="https://www.freepik.com/vectors/business-automation">Business automation vector created by vectorjuice - www.freepik.com</a>
                </li>
              </ul>
            </div>
            -->
          </div>
        </div>
      </div>
      <!--
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    </footer>
