{% extends 'base_sistema.html' %}
{% load bootstrap4 %}
{% block content %}






    <div class="col-10 ">

           <div class="container">
               <div class="row">
                  <div class="col-12 titulo_cadastro">
                       <div ><b>Cadastro de Pagamento</b></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                       <hr style="height:5px;border-width:0;color:gray;background-color:gray">
                  </div>
               </div>
               <div class="conteudo_form row" align="center">
                   <div class="col-12">
                        <form method="post" autocomplete="off" >
                            {% csrf_token %}
                            <table style="border-collapse:separate; border-spacing:20px 20px">
                                <tbody>
                                        <tr>
                                            <td  align="right"><div class="form-horizontal"><b>Tipo de Pagamento:</b></div></td>
                                               <td  align="left">{{form.tipo_pagto}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Atividade:</b></div></td>
                                            <td align="left">{{form.atividade}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Parcela:</b></div></td>
                                            <td align="left">{{form.parcela}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Quantidade de Parcelas:</b></div></td>
                                            <td align="left">{{form.qtde_parcelas}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Data Previsão Nota:</b></div></td>
                                            <td align="left">{{form.dataprevnota}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Tipo da Nota:</b></div></td>
                                            <td align="left">{{form.tiponota}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Número da nota:</b></div></td>
                                            <td align="left">{{form.numnota}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Data de emissão:</b></div></td>
                                            <td align="left">{{form.dataemissnota}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Série:</b></div></td>
                                            <td align="left">{{form.serienota}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>XML:</b></div></td>
                                            <td align="left">{{form.xml}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Anotações:</b></div></td>
                                            <td align="left">{{form.anotacoes}}</td>
                                            <td></td>
                                        </tr>

                                 </tbody>
                            </table>

                            <div class="grupo_botoes_form">
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    <button type="button" class="btn btn-warning">
                                        <a href="{% url 'sistema' %}">Cancelar</a>
                                    </button>
                                {% endbuttons %}
                            </div>
                        </form>

                   </div>


               </div>
           </div>

    </div>
{% endblock %}
