{% extends 'base_sistema.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="col-10 ">

           <div class="container">
               <div class="row">
                  <div class="col-12 titulo_listview">
                       <div ><b>Solicitação de Locação</b></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                       <hr style="height:5px;border-width:0;color:gray;background-color:gray">
                  </div>
               </div>
               <div class="conteudo_form row" align="center">
                   <div class="col-12">
                        <form method="post" autocomplete="off" >
                            {% csrf_token %}
                            <table style="border-collapse:separate; border-spacing:20px 20px">
                                <tbody>
                                        <tr>
                                            <td  align="right"><div class="form-horizontal"><b>Tipo de Locação:</b></div></td>
                                            <td  align="left"> {{form.tipo_locacao}} <a href="#ModalTipoLoc" data-toggle="modal" class="tooltip-test" title="Adiciona Tipo de Locação"><img src="/static/admin/img/icon-addlink.svg"></a></td>
                                            <td align="left">{% if messages %}
                                                    {% for message in messages %}
                                                        {{ message }}
                                                    {% endfor %}
                                                {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Ação:</b></div></td>
                                            <td align="left">{{form.acao}} <a href="../add_acao"><img src="/static/admin/img/icon-addlink.svg"></a></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Memorial:</b></div></td>
                                            <td align="left">{{form.memorial}}<a href="#ModalMemorial" data-toggle="modal" class="tooltip-test" title="Adiciona Memorial"><img src="/static/admin/img/icon-addlink.svg"></a></td>
                                            <td> {% if messages %}
                                                    {% for message in messages %}
                                                        {{ message }}
                                                    {% endfor %}
                                                {% endif %} </td>
                                        </tr>
                                        <tr>
                                            <td align="right"><div class="form-horizontal"><b>Status Geral:</b></div></td>
                                            <td align="left">{{form.status_geral}}<a href="#"><img src="/static/admin/img/icon-addlink.svg"></a></td>
                                        </tr>
                                 </tbody>
                            </table>
                            <div class="grupo_botoes_form">
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    <button type="button" class="btn btn-warning">
                                        <a href="{% url 'sistema' %}">Cancelar</a>
                                    </button>
                                {% endbuttons %}
                            </div>
                       </form>
                   </div>
               </div>
           </div>



    <!-- Modal -->
            <div id="ModalTipoLoc" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                       <div class="titulo_modal">Adicionar Tipo de Locação</div>
                  </div>
                  <div class="modal-body">
                        <form method="POST" autocomplete="off" action="{% url 'salvatipoloc' %}" >
                            {% csrf_token %}
                            <table style="border-collapse:separate; border-spacing:20px 20px">
                                <tbody>
                                        <tr>
                                            <td  align="right"><div class="form-horizontal"><b>Descrição:</b></div></td>
                                            <td  align="left"><input type="text" name="descricao" id="descricao" maxlength="50" required ></td>
                                            <td></td>
                                        </tr>
                                 </tbody>
                            </table>

                            <div class="grupo_botoes_form">
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                                            <a href="{% url 'sistema' %}">Cancelar</a>
                                        </button>
                                    {% endbuttons %}
                            </div>
                        </form>
                  </div>
                </div>
              </div>
            </div>

        <!-- Modal Memorial -->
            <div id="ModalMemorial" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                      <div class="modal-header">
                           <div class="titulo_modal">Adicionar Memorial</div>
                      </div>
                      <div class="modal-body">
                            <form method="POST" autocomplete="off" action="{% url 'salvamemorial' %}" >
                                {% csrf_token %}
                                <table style="border-collapse:separate; border-spacing:20px 20px">
                                    <tbody>
                                            <tr>
                                                <td  align="right"><div class="form-horizontal"><b>Descrição:</b></div></td>
                                                <td  align="left"><input type="text" name="descricao" id="descricao" maxlength="50" required></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td  align="right"><div class="form-horizontal"><b>Data do Memorial:</b></div></td>
                                                <td  align="left"><input type="text" name="data_memorial" id="data_memorial" maxlength="10" required ></td>
                                                <td></td>
                                            </tr>
                                     </tbody>
                                </table>
                                <div class="grupo_botoes_form">
                                        {% buttons %}
                                            <button type="submit" class="btn btn-primary">Salvar</button>
                                            <button type="button" class="btn btn-warning">
                                                <a href="{% url 'sistema' %}">Cancelar</a>
                                            </button>
                                        {% endbuttons %}
                                </div>

                            </form>
                      </div>
                </div>
              </div>
            </div>
    </div>
{% endblock %}
