{% load static %}

    <section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Principais Funcionalidades</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-left">
              <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="lni-rocket"></i>
                </span>
                <div class="text" align="left">
                  <h4>Acompanhamento de processos de Locações </h4>
                  <p class="acessibilidade"> Locações de equipamentos podem ser monitorados e acompanhados.</p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
                <span class="icon">
                  <i class="lni-laptop-phone"></i>
                </span>
                <div class="text">
                  <h4>Acompanhamento dos processos de Aquisições</h4>
                  <p class="acessibilidade"> O sistema permite acompanhar de perto os processos de compra.</p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">
                <span class="icon">
                  <i class="lni-cog"></i>
                </span>
                <div class="text">
                  <h4>Software em nuvem</h4>
                  <p class="acessibilidade">Sistema web hospedado em nuvem para maior disponibilidade e segurança</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'img/feature/solutions.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-right">
              <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="lni-leaf"></i>
                </span>
                <div class="text">
                  <h4>Fluxo de Manutenções</h4>
                  <p class="acessibilidade">Acompanhe e monitore equipamentos enviados para manutenção.</p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                <span class="icon">
                  <i class="lni-layers"></i>
                </span>
                <div class="text">
                  <h4>APIs</h4>
                  <p class="acessibilidade">O sistema disponibiliza APIs REST para comunicação com aplicações externas.</p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
                <span class="icon">
                  <i class="lni-leaf"></i>
                </span>
                <div class="text">
                  <h4>Open-source</h4>
                  <p class="acessibilidade"> O sistema emprega tecnologias de software livre.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
