{% load static %}

<div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Acompanhe os processos <br>do setor com o AcPro</h2>
                <p class="acessibilidade"> <font color="black">Monitore os processos do setor com o sistema web AcPro, evitando perdas de prazos e minimizando riscos.</font></p>
                <div class="header-button">
                  <a href="{% url 'login' %}" class="btn btn-common acessibilidade">Acessar Agora</i></a>
                  <a href="#footer" class="btn btn-border video-popup acessibilidade">Saiba mais</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area wrapper End -->
