{% load static %}

        <div class="col-10 mr-auto w-100 clearfix">
           <div class="container">
               <div class="row">
                  <div class="col-12" align="center">
                       <font size="4" color="blue"><b>Dashboard</b></font><p></p>
                  </div>
               </div>
               <div class="row" >
                  <div class="col-12">
                    <hr style="height:4px;border-width:0;color:gray;background-color:gray">
                  </div>
               </div>
               <div class="row" >
                    <!--
                   <div class="col-3" align="center">
                        <div class="card text-white bg-primary mb-1" style="width: 9rem;"">
                          <div class="card-header" align="center"><font size="2"><b>Solicitados</b></font></div>
                          <div class="card-body">
                            <h1 class="card-title" align="center"> {{numlocacoes}}</h1>
                            <p class="card-text" align="center"><a class="link_visualizar" href="../listlocacoes/">Visualizar</a></p>
                          </div>
                        </div>
                   </div>
                    -->

                   <div class="col-3" align="center">
                        <div class="card text-white bg-primary mb-1" style="width: 9rem;"">
                          <div class="card-header" align="center"><font size="2"><b>Solicitações</b></font></div>
                          <div class="card-body">
                            <h1 class="card-title" align="center"> {{numsolicit}}</h1>
                            <p class="card-text" align="center">&nbsp;</p>
                          </div>
                        </div>
                   </div>

                    <div class="col-3" align="center">
                         <div class="card text-white bg-secondary mb-1" style="width: 9rem;">
                            <div class="card-header" align="center"><font size="2"><b>Locações</b></font></div>
                            <div class="card-body">
                              <h1 class="card-title" align="center"> {{ numlocacoes }} </h1>
                               {% if numlocacoes != 0 %}
                                    <p class="card-text" align="center"><a class="link_visualizar" href="../listlocacoes/">Visualizar</a></p>
                               {% else %}
                                    <p class="card-text" align="center">Visualizar</p>
                               {% endif %}
                            </div>
                         </div>
                   </div>

                   <div class="col-3" align="center">
                        <div class="card text-white bg-success mb-1" style="width: 9rem;">
                           <div class="card-header" align="center"><font size="2"><b>Aquisições</b></font></div>
                           <div class="card-body">
                                 <h1 class="card-title" align="center">{{ numaquisicoes }}</h1>
                                 {% if numaquisicoes != 0 %}
                                     <p class="card-text" align="center"><a class="link_visualizar" href="../listaquisicoes/">Visualizar</a></p>
                                 {% else %}
                                     <p class="card-text" align="center">Visualizar</p>
                                 {% endif %}
                             </div>
                        </div>
                   </div>

                   <div class="col-3" align="center">
                        <div class="card text-white bg-warning mb-3" style="width: 9rem;">
                            <div class="card-header" align="center"><b><font size="2">Manutenções</b></font></div>
                            <div class="card-body">
                              <h1 class="card-title" align="center">{{ nummanutencoes }}</h1>
                              {% if nummanutencoes != 0 %}
                                    <p class="card-text" align="center"><a class="link_visualizar" href="../listmanutencoes/">Visualizar</a></p>
                               {% else %}
                                    <p class="card-text" align="center">Visualizar</p>
                               {% endif %}
                            </div>
                        </div>
                   </div>


                   <!--
                   <div class="col-3" align="center">
                         <div class="card text-white bg-secondary mb-1" style="width: 9rem;">
                            <div class="card-header" align="center"><font size="2"><b>Em Compras</b></font></div>
                            <div class="card-body">
                              <h1 class="card-title" align="center"> {{ numcompras }} </h1>
                               {% if numcompras != 0 %}
                                    <p class="card-text" align="center"><a class="link_visualizar" href="{% url 'listloc_compras' %}">Visualizar</a></p>
                               {% else %}
                                    <p class="card-text" align="center">Visualizar</p>
                               {% endif %}
                            </div>
                         </div>
                   </div>

                   <div class="col-3" align="center">
                        <div class="card text-white bg-success mb-1" style="width: 9rem;">
                           <div class="card-header" align="center"><font size="2"><b>Em Sede</b></font></div>
                           <div class="card-body">
                                 <h1 class="card-title" align="center">{{ numsede }}</h1>
                                 {% if numsede != 0 %}
                                     <p class="card-text" align="center"><a class="link_visualizar" href="{% url 'listloc_sede' %}">Visualizar</a></p>
                                 {% else %}
                                     <p class="card-text" align="center">Visualizar</p>
                                 {% endif %}
                             </div>
                        </div>
                   </div>
                   <div class="col-3" align="center">
                        <div class="card text-white bg-warning mb-3" style="width: 9rem;">
                            <div class="card-header" align="center"><b><font size="2">Em Contratação</b></font></div>
                            <div class="card-body">
                              <h1 class="card-title" align="center">{{ numcontr }}</h1>
                              {% if numcontr != 0 %}
                                    <p class="card-text" align="center"><a class="link_visualizar" href="{% url 'listloc_contr' %}">Visualizar</a></p>
                               {% else %}
                                    <p class="card-text" align="center">Visualizar</p>
                               {% endif %}
                            </div>
                        </div>
                   </div>
                   <div class="col-3" align="center">
                       <div class="card text-white bg-info mb-3" style="width: 9rem;">
                         <div class="card-header" align="center"><b><font size="1px">Em Recebimento</b></font></div>
                         <div class="card-body">
                           <h1 class="card-title" align="center">{{ numrec }}</h1>
                             {% if numrec != 0 %}
                                 <p class="card-text" align="center"><a class="link_visualizar" href="{% url 'listloc_crono' %}">Visualizar</a></p>
                             {% else %}
                                 <p class="card-text" align="center">Visualizar</p>
                             {% endif %}

                         </div>
                       </div>
                   </div>
                   <div class="col-3" align="center">
                       <div class="card text-white bg-danger mb-3" style="width: 9rem;">
                         <div class="card-header" align="center"><b><font size="2">Em Pagamento</b></font></div>
                         <div class="card-body">
                           <h1 class="card-title" align="center">{{ numpagto }}</h1>
                             {% if numpagto != 0 %}
                                 <p class="card-text" align="center"><a class="link_visualizar" href="{% url 'listloc_pagto' %}">Visualizar</a></p>
                             {% else %}
                                 <p class="card-text" align="center">Visualizar</p>
                             {% endif %}
                         </div>
                       </div>
                   </div>
                   <div class="col-3" align="center">
                       <div class="card text-white bg-dark mb-3" style="width: 9rem;">
                         <div class="card-header" align="center"><b><font size="2">Finalizados</b></font></div>
                         <div class="card-body">
                           <h1 class="card-title" align="center"><font color="white"> {{ numfin }} </font></h1>
                             {% if numfin != 0 %}
                                 <p class="card-text" align="center"><a class="link_visualizar" href="{% url 'listloc_fin' %}">Visualizar</a></p>
                             {% else %}
                                 <p class="card-text" align="center">Visualizar</p>
                             {% endif %}

                         </div>
                       </div>
                   </div>
                    -->

               </div>
           </div>
        </div>
